<div class="flex flex-row flex-wrap mx-auto justify-center">
  <div class="text-center max-w-sm">
    <div class="p-2">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        {{ product.title }}
      </h5>
    </div>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 break-words">
      {{ product.description }}
    </p>
    <img
      class="rounded-t-lg mx-auto w-96 h-96"
      [src]="product.image"
      [alt]="product.title"
    />
    <p class="text-center text-yellow-600">${{ product.price }}</p>
  </div>
</div>
